{% extends "auctions/layout.html" %}
{% load humanize %}
{% load static %}

{% block body %}

<!--
      - PRODUCT
    -->

<div class="product-container">

  <div class="container">

    <div class="product-box">

      <!--
              - PRODUCT GRID
            -->

      <div class="product-main">

        <h2 class="">
          {% if category %}
          {{ category }}
          {% elif watchlist %}
          Watchlists
          {% else %}
          All Products
          {% endif %}
        </h2>

        <div class="product-grid">
          {% for listing in listings %}
          <div class="showcase">

            <div class="showcase-banner">

              <div class="img-box">
                <a href="{% url 'listing' id=listing.id %}">
                  <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" width="300" class="product-img">
                </a>
              </div>


              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="{% url 'display_category' category=listing.category %}" class="showcase-category">{{ listing.category }}</a>

              <a href="{% url 'listing' id=listing.id %}">
                <h3 class="showcase-title">{{ listing.title }}</h3>
              </a>

              <div class="price-box">
                <p class="price">PHP {{ listing.price.bid|floatformat:2|intcomma }}</p>
              </div>

            </div>

          </div>

          {% empty %}
          <p class="text-center">No available listing.</p>

          {% endfor %}


        </div>

      </div>

    </div>

  </div>

</div>


{% endblock %}